# frontend
frontend/node_modules
frontend/package-lock.json
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# backend
backend/mbti_classifier/mbti_1.csv
backend/mbti_classifier/dataset
backend/mbti_classifier/output
backend/mbti_classifier/wandb
